- Program 2
 Write a Python program to do arithmetical operations addition and division.

In [10]:
num1=eval(input("enter first  number:"))
num2=eval(input("enter second number:"))
add=num1+num2
division=num1/num2
sub=num1-num2
mul=num1*num2
mod=num1%num2
print(f"add two numebr:{add}")
print(f"sub toew number:{sub}")
print(f"multiplai:{mul}")
print(f"div tow number:{division}")
print(f"modulas tow number:{mod} given rimendar")

enter first  number:2
enter second number:2
add two numebr:4
sub toew number:0
multiplai:4
div tow number:1.0
modulas tow number:0 given rimendar

- Program 3 Write a Python program to find the area of a triangle.

In [17]:
num3=eval(input("enter triangle of base:"))
num4=eval(input("enter triangle of height:"))
area=0.5*(num3*num4)
print(f"area of tringle {area}")

enter triangle of base:2
enter triangle of height:3
area of tringle 3.0

- Program 4 Write a Python program to swap two variables.

In [20]:
a=12
b=13
vijay=0
print(f"curent value of a:{a} or b:{b}")
vaijy=a
a=b
b=vijay
print(f" after swap the value a:{a} and b:{b}")

curent value of a12 or b13
 after swap the value a13 and b0

- Program 5 Write a Python program to generate a random number.

In [23]:
import random
num=random.randint(1,10)
print(f"random number:{num}")

random number:10

- Program 6 Write a Python program to convert kilometers to miles.

In [25]:
num1=eval(input("enter the kilometer:"))
miles=num1*0.6214
print(f"convert the kilometer to miles:{miles}")

enter the kilometer:2
convert the kilometer to miles:1.2428

- Program 7 Write a Python program to convert Celsius to Fahrenheit.

In [26]:
cel=eval(input("enter the temp celsius"))
far=cel*33.8
print(f"convert the celsius to fahrenheit:{far}")

enter the temp celsius1
convert the celsius to fahrenheit:33.8

- Program 8 Write a Python program to display calendar

In [39]:
import calendar
year = int(input("Enter year: "))
month = int(input("Enter month: "))
calender = calendar.month(year, month)
print(calender)

Enter year: 2001
Enter month: 1
    January 2001
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

- Program 9 Write a Python program to solve quadratic equation.
          - The standard form of a quadratic equation is:
            - where
            -  a, b and c are real numbers and
            -  The solutions of this quadratic equation is given by:
             -  𝑎𝑥 + 𝑏𝑥 + 𝑐 = 0
              - 2
              -    𝑎 ≠ 0
               - (−𝑏 ± (𝑏 − 4𝑎𝑐 )/(2𝑎)

In [40]:
import math
# Input coefficients
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))
# Calculate the discriminant
discriminant = b**2 - 4*a*c
# Check if the discriminant is positive, negative, or zero
if discriminant > 0:
 # Two real and distinct roots
 root1 = (-b + math.sqrt(discriminant)) / (2*a)
 root2 = (-b - math.sqrt(discriminant)) / (2*a)
 print(f"Root 1: {root1}")
 print(f"Root 2: {root2}")
elif discriminant == 0:
 # One real root (repeated)
 root = -b / (2*a)
 print(f"Root: {root}")
else:
 # Complex roots
 real_part = -b / (2*a)
 imaginary_part = math.sqrt(abs(discriminant)) / (2*a)
 print(f"Root 1: {real_part} + {imaginary_part}i")
 print(f"Root 2: {real_part} - {imaginary_part}i")

Enter coefficient a: 1
Enter coefficient b: 2
Enter coefficient c: 3
Root 1: -1.0 + 1.4142135623730951i
Root 2: -1.0 - 1.4142135623730951i

- Program 10 - Write a Python program to swap two variables without temp variable.

In [44]:
a=eval(input("enter the number a:"))
b=eval(input("enter the second  number b:"))
a,b=b,a
print(f" print the value of a:{a}")
print(f" print the value of b:{b}")

enter the number a:1
enter the second  number b:2
 print the value of a:2
 print the value of b:1

- Program 11 Write a Python Program to Check if a Number is Positive, Negative or Zero

In [46]:
number=eval(input("enter a number :"))
if number<0:
    print(f"numer is (-)ev:{number}")
elif number==0:
    print(f"number is zero:{number}")
else:
    print(f"number is (+)ev:{number}")

enter a number :2
number is (+)ev:2

- Program 12 Write a Python Program to Check if a Number is Odd or Even.

In [50]:
number1=eval(input("enter a number :"))
if number1%2==0:
    print(f"number is even:{number1}")
else:
    print(f"number is odd:{number1}")

enter a number :4
number is even:4

- Program 13 Write a Python Program to Check Leap Year

In [1]:
year=eval(input("enter a year:"))
if year%400==0:
    print(f"this is leap year{year}")

else:
    print(f"this is not leap year:{year}")

enter a year:1700
this is not leap year:1700

- Program 14 Write a Python Program to Check Prime Number.
 Prime Numbers:

In [19]:
import math
n=eval(input("enter a number "))
if n>8:
    for i in range(2,n):
        print(i)
        if i==math.sqrt(n):
            print("number is not prime",n)
    else:
        print("number is prime",n)

enter a number 12
2
3
4
5
6
7
8
9
10
11
number is prime 12

In [52]:
start=int(input("enter the start"))
end=int(input("enter the end"))
for i in range(start,end):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,end="")

enter the start4
enter the end8
57

In [12]:
import math
#nmu=9
#num1=math.sqrt(num)
n2=11
for i in range(2,n2):
    if i==math.sqrt(n2):
        print("number is not prime")
    else:
        print("number is prime",n2)
        break

number is prime 11

In [29]:
import math
num=9
num1=math.sqrt(num)
num1

3.0

In [11]:
n=eval(input("enter a number"))
if n==2:
    print(n)
else:
    print("no")

enter a number3
no

- Program 15 Write a Python Program to Print all Prime Numbers in an Interval of 1-10.

In [21]:
for i in range(1,10):
    e=i
    count=0
    for a in range(2,e):
        if e%a==0:
            count+=1
    if count==0:
        print(e)

1
2
3
5
7

In [ ]:
for a in range(1,101):
    num=a
    count=0
    for i in range(2,num):
        if num%i==0:
            count+=1
    if count==0:
        print(num)

In [32]:
for a in range(20,101):
    num=a
    count=0
    for i in range(2,num):
        if num%i==0:
            count+=1
    if count==0:
        print(num)

23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

- Program 16 Write a Python Program to Find the Factorial of a Number.

In [35]:
num=1
for i in range(num)

enter a nubmer5
1

- Program 17 Write a Python Program to Display the multiplication Table.

In [54]:
num=eval(input("enter the number"))
for i in range(1,11):
    print(f"{num}*{i} = {num*i}")

enter the number4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40

In [ ]:
Program 18
Write a Python Program to Print the Fibonacci sequence.
Fibonacci sequence:
The Fibonacci sequence is a series of numbers where each number is the sum of the two
preceding ones, typically starting with 0 and 1. So, the sequence begins with 0 and 1, and
the next number is obtained by adding the previous two numbers. This pattern continues
indefinitely, generating a sequence that looks like this:
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, and so on.
Mathematically, the Fibonacci sequence can be defined using the following recurrence
relation:
𝐹(0) = 0 𝐹(1) = 1 𝐹(𝑛) = 𝐹(𝑛 − 1) + 𝐹(𝑛 − 2)𝑓𝑜𝑟𝑛 > 1

In [ ]:
n=int(input())

In [11]:
# num=eval(input("enter a number"))
# n=0
# n2=1
# count=0
# if num==n:
#     print(f" plase enter the positive number")
# elif num==1:
#     print(f"{n},{n2}")
# else:
#     print(f"")
#     while count<num:
#         print(n)
    nth=n+n2
    #=n2
    #n2=nth
   # count+=1

IndentationError: unexpected indent (728817323.py, line 13)

In [1]:
# nterms = int(input("How many terms? "))
# # first two terms
# n1, n2 = 0, 1
# count = 0
# # check if the number of terms is valid
# if nterms <= 0:
#      print("Please enter a positive integer")
# # if there is only one term, return n1
# elif nterms == 1:
#     print("Fibonacci sequence upto",nterms,":")
#     print(n1)
# # generate fibonacci sequence
# else:
#      print("Fibonacci sequence:")
# while count < nterms:
#         print(n1)
# nth = n1 + n2
#  # update values
# n1 = n2
# n2 = nth
# count += 1

- Program 19-Write a Python Program to Check Armstrong Number?
- Armstrong Number:
- It is a number that is equal to the sum of its own digits, each raised to a power equal to the
- number of digits in the number.
- For example, let's consider the number 153:
- It has three digits (1, 5, and 3).
- If we calculate + , we get , which is equal to .
- So, 153 is an Armstrong number because it equals the sum of its digits raised to the power
- of the number of digits in the number.
- Another example is 9474:
- It has four digits (9, 4, 7, and 4).

In [ ]:
If we calculate , we get , which is also
equal to .
Therefore, 9474 is an Armstrong number as well.

In [55]:
num=153
rem1=0
num1=num
f=0
while num!=0:
    rem1=num%10
    num=num//10
    f=f+rem1*rem1*rem1
if f==num1:
    print(f)
else:
    print("hello")

153

- Program 20 Write a Python Program to Find Armstrong Number in an Interval.

In [72]:
start=eval(input("enter start from number"))
stop=eval(input("enter stope number"))
new_stop=str(stop)
for i in range(start,stop):
    num=i
    rem=0
    s=0
    while num!=0:
        rem=num%10
        num=num//10
        s=s+rem**len(new_stop)
    if s==i:
        print(s)

enter start from number100
enter stope number2000
1634

In [56]:
num=9474
rem1=0
num1=num
f=0
while num!=0:
    rem1=num%10
    num=num//10
    f=f+rem1*rem1*rem1*rem1
if f==num1:
    print(f)
else:
    print("hello")

9474

In [63]:
number=eval(input("enter a number"))
len_number=str(number)
rimendar=0
new_number=0
same_number=number
while number!=0:
    rimendar=number%10
    number=number//10
    new_number=new_number+rimendar**len(len_number)
if new_number==same_number:
    print(new_number)
else:
    print("hai")

enter a number9474
9474

- Program 21 -Write a Python Program to Find the Sum of Natural Numbers.
- Natural numbers are a set of positive integers that are used to count and order objects.
- They are the numbers that typically start from 1 and continue indefinitely, including all the
- whole numbers greater than 0. In mathematical notation, the set of natural numbers is often
- denoted as "N" and can be expressed as:
- 𝑁 = 1, 2, 3, 4, 5, 6, 7, 8, . . .

In [6]:
num=eval(input("enter a number"))
natural=0
if num>0:
    for i in range(num+1):
        natural=natural+i
    print(natural)
else:
    print("number is not valid")

enter a number99
4950

In [12]:
number=int(input("enter a number"))
s=0
f=1
num=2
if number>0:
    s=number*(number+f)//num
    
print(s)

enter a number3
6

```
Program 22
Write a Python Program to Find LCM.
Least Common Multiple (LCM):
LCM, or Least Common Multiple, is the smallest multiple that is exactly divisible by two or
more numbers.
Formula:
For two numbers a and b, the LCM can be found using the formula:
For more than two numbers, you can find the LCM step by step, taking the LCM of pairs of
numbers at a time until you reach the last pair.
Note: GCD stands for Greatest Common Diviso
```

In [26]:
n1=int(input("enter first number"))
n2=int(input(" enter second number"))
number1=n1
number2=n2
rem=1
while rem!=0:
    rem=n2%n1
    n2=n1
    num=n1
    n1=rem
print(f"{number1,number2} the given number of LCM = {num}")
s=number1*number2//num
print(f"{number1,number2} the given number of HCF= {s}")

enter first number54
 enter second number24
(54, 24) the given number of LCM = 6
(54, 24) the given number of HCF= 216

```
Question NO. 23-Write a Python Program to Find HCF.
Highest Common Factor(HCF):
HCF, or Highest Common Factor, is the largest positive integer that divides two or more
numbers without leaving a remainder.
Formula:
Enter the number: 54
Enter the number: 24
The L.C.M. is 216
```

In [35]:
num1=eval(input("enter first number"))
num2=eval(input("enter second number"))
Anumber=num1
Bnumber=num2
n=1
while n!=0:
    n=num1%num2
    num1=num2
    LCM=num1
    num2=n
print(f"{num1,num2}tow number of LCM {LCM}")
HCF=Bnumber*Anumber//LCM
print(f"{num1,num2} tow number of HCF{HCF}")

enter first number54
enter second number24
(6, 0)tow number of LCM 6
(6, 0) tow number of HCF216

- Program 24 Write a Python Program to Convert Decimal to Binary, Octal and Hexadecima

In [40]:
num=int(input("enter a intigar number:"))
print("convert to binary number",bin(num))
print("convert to octal number",oct(num))
print("convert to hex number",hex(num))

enter a intigar number:4
convert to binary number 0b100
convert to octal number 0o4
convert to hex number 0x4

- Program 25 Write a Python Program To Find ASCII value of a character.
ASCII value:

In [44]:
char=str(input("enter a character"))
print(f"The given character ASCII value of :{ord(char)}")

enter a characterg
The given character ASCII value of :103

- Program 26 Write a Python Program to Make a Simple Calculator with 4 basic mathematical
operations.

In [54]:
first_number=eval(input("Enter first number"))
second_number=eval(input("Enter second number"))
option=eval(input("1 option is Add and "
                  "2 option is Sub and "
                  "3 option is multiplai and "
                  "4 option is div"))
sum1=0
sub=0
mul=0
div=0
if option==1:
    sum1=first_number+second_number
elif option==2:
    sub=first_number-second_number
elif option==3:
    mul=first_number*second_number
elif option==4:
    div=first_number//second_number
else:
    print("plase velid enter option")
print("Tow number add is:",sum1)
print("Tow number sub is:",sub)
print("Tow number mul is:",mul)
print("Tow number div is:",div)

Enter first number22
Enter second number2
1 option is Add and 2 option is Sub and 3 option is multiplai and 4 option is div3
Tow number add is: 0
Tow number sub is: 0
Tow number mul is: 44
Tow number div is: 0

In [49]:
def add(number1,number2):

7

- Program 27 Write a Python Program to Display Fibonacci Sequence Using Recursion.
Fibonacci sequence:

In [31]:
n=9
num3=0
num4=1
fibonacci = num4
count=1
while count <= n:
    print(fibonacci,end=" ")
    count+=1
    num3 = num4
    num4 = fibonacci
    fibonacci = num3 + num4

1 2 3 5 8 13 21 34 55

In [28]:
n = 9
num1 = 0
num2 = 1
next_number = num2  
count = 1
 
while count <= n:
    print(next_number, end=" ")
    count += 1
    num1 = num2
    num2 = next_number
    next_number = num1 + num2

1 2 3 5 8 13 21 34 55

- Program 28 Write a Python Program to Find Factorial of Number Using Recursion

In [43]:
num=int(input("enter a number"))
s=1
m=0
for i in range(1,num+1):
    s=s*i
    m=s
print(m)

enter a number5
120

- Program 30 Write a Python Program to calculate the natural logarithm of any number

In [53]:
import math
number=int(input("enter a number"))
n=math.log(number)
print(f" number of {number} is the log value{n}")

enter a number5
 number of 5 is the log value1.6094379124341003

- Program 31 Write a Python Program for cube sum of first n natural numbers?

In [56]:
num=int(input("enter a number"))
if num<=0:
    print("pleas enter a valid number")
else:
    cube=num**3
    print(cube)

enter a number4
64

- Program 32 Write a Python Program to find sum of array.

In [63]:
list1=eval(input("enter a number"))
num=list(list1)
print(num)
sum(num)

enter a number1,2,3,4
[1, 2, 3, 4]

10

- Program 33 Write a Python Program to find largest element in an array.

In [65]:
arr=[1,2,3,4,5,6,7,23,34,54,67,87,89]
max(arr)

89

- Program 34 Write a Python Program for array rotation.

In [1]:
arr=[1,2,3,4,5,6,7,23,34,54,67,87,89]
arr[::-1]

[89, 87, 67, 54, 34, 23, 7, 6, 5, 4, 3, 2, 1]

- Program 35 Write a Python Program to Split the array and add the first part to the end?

In [10]:
arr=[1,2,3,4,5,6,7,23,34,54,67,87,89]
ar=str(arr)
ar
ar.split()
#ar[1]+ar[::-1]

['[1,',
 '2,',
 '3,',
 '4,',
 '5,',
 '6,',
 '7,',
 '23,',
 '34,',
 '54,',
 '67,',
 '87,',
 '89]']

In [13]:
ar[1],ar[-3]

('1', '8')

- Program 36 Write a Python Program to check if given array is Monotonic

In [3]:
arr1=[1,2,3,4,5]
arr1

[1, 2, 3, 4, 5]

- Program 37 Write a Python Program to Add Two Matrices

In [ ]:
X=[[1,2,3],
   [1,2,3],
   [1,2,3]]
Y=[[9,8,7],
   [9,6,7],
   [9,8,7]]
result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(X)):
    for j in range(len(X[0])):
        result[i][j]=X[i][j]+Y[i][j]



for r in result:
    print(r)

- Program 38 Write a Python Program to Multiply Two Matrices.

In [76]:
R=[[1,2,3],
   [1,2,3],
   [1,2,3]]
T=[[1,2,3],
   [1,2,3],
   [1,2,3]]
Y=[[0,0,0],
   [0,0,0],
   [0,0,0]]
for i in range(len(R)):
    for j in range(len(R[0])):
        Y[i][j]=R[i][j]*T[i][j]
for r in Y:
    print(r)

[1, 4, 9]
[1, 4, 9]
[1, 4, 9]

- Program 39 Write a Python Program to Transpose a Matrix

In [100]:
q=[[1, 4, 9],
   [1, 5, 10],
   [1, 6, 11]]
o=[[0,0,0],
   [0,0,0],
   [0,0,0]]

for i in range(len(q)):
    for j in range(len(q[0])):
        print(q[j])

[1, 4, 9]
[1, 5, 10]
[1, 6, 11]
[1, 4, 9]
[1, 5, 10]
[1, 6, 11]
[1, 4, 9]
[1, 5, 10]
[1, 6, 11]

In [93]:
o

[1, 5, 10]

- Program 40 Write a Python Program to Sort Words in Alphabetic Order.

In [102]:
v=["vijay","sanjay","ajay","ranvijay","rahul"]
v.sort()
v

['ajay', 'rahul', 'ranvijay', 'sanjay', 'vijay']

- Program 43 Write a Python program to check if the given number is a Disarium Number.

In [36]:
num=int(input("enter a number"))
num1=num
s=0
rem=0
while num!=0:
    d=len(str(num))
    rem= num%10
    s=s+rem**d
    num=num//10
print(s)
if s==num1:
    print("yes")
else:
    print("no")

enter a number135
135
yes

- Program 44 Write a Python program to print all disarium numbers between 1 to 100

In [34]:
for i in range(1,101):
    num=i
    #num1=num
    
    s=0
    a=1
    while num!=0:
        d=len(str(num))
        rem=num%10
        s=s+rem**d
        num=num//10
    if s==i:
        print(s)

1
2
3
4
5
6
7
8
9
89

### Program 45 Write a Python program to check if the given number is Happy Number.
number = 32
<br>
3<sup>2</sup> + 2<sup>2</sup> = 13 <br>
1<sup>2</sup> + 3<sup>2</sup> = 10 <br>
1<sup>2</sup> + 0<sup>2</sup> = 1

In [8]:
num=eval(input("Enter a number"))
num1=num
s=0
while num!=0:
    rem = num%10
    s += rem**2
    num = num//10

Enter a number32
9
9
13
13


<h4 style="color:red"> Program 46 Write a Python program to print all happy numbers between 1 and 100.</h4>

#### Program 47 Write a Python program to determine whether the given number is a Harshad Number.

In [59]:
num=eval(input("enter a number:"))
num1=num
s=0
while num!=0:
    red=num%10
    s=s+red
    num=num//10
if num1%s==0:
    print("Harshad number",num1)
else:
    print("not hatshad number",num1)

enter a number:18
Harshad number 18

### Program 48 Write a Python program to print all pronic numbers between 1 and 100

In [15]:
num=eval(input("enter a number "))
num1=num
for i in range(1,num):
    if num1//i==0:
        if num1//i+1==0:
            print("number",num)

enter a number 20

### Program 49 write python program to add the hool list

In [20]:
list1=[20,30,40,50]
print("list",list1)
print("list sum",sum(list1))

list [20, 30, 40, 50]
list sum 140

### Program 50 Write a Python program to Multiply all numbers in the list.

In [25]:
list1=[10,20,30,40,50]
s=1
for i in range(len(list1)):
    s=s*(list1[i])
print("Multiply all number of the list",s)

Multiply all number of the list 12000000

### Program 52 Write a Python program to find largest number in a list

In [28]:
list2=[99,89,76,76,102,5,4,3]
s=1
for i in list2:
    if i>s:
        s=i
print(s)

102

In [ ]:
list2=[99,89,76,76,102,5,4,3]
max(list2)

### Program 53 Write a Python program to find second largest number in a list.

In [56]:
num=[7,6,5,4,3,2,1]
s=1
for i in range(len(num)):
    print(i)
    if num[i]>s:
        s=num[i]
s

0
1
2
3
4
5
6

7

In [67]:
num.sort()
num.reverse()
print("second largest number",num[1])

second largest number 6

### Program 54 Write a Python program to find N largest elements from a list.

In [70]:
numbers = [30, 10, 45, 5, 20, 50, 15, 3, 345, 54, 67, 87, 98, 100, 34,]
numbers.sort()
numbers.reverse()
print(f"The {3} largest elements in the list are:{numbers[0]},{numbers[1]},{numbers[2]}")

The 3 largest elements in the list are:345,100,98

### Program 55 Write a Python program to print even numbers in a list

In [88]:
numbers = [30, 10, 45, 5, 20, 50, 15, 3, 345, 54, 67, 87, 98, 100, 34,]
num2=[]
for i in numbers:
    if i%2==0:
        num2.append(i)
print(f"Even number in the given list{num2}")

Even number in the given list[30, 10, 20, 50, 54, 98, 100, 34]

### Program 56 Write a Python program to print odd numbers in a List

In [94]:
numbers = [30, 10, 45, 5, 20, 50, 15, 3, 345, 54, 67, 87, 98, 100, 34,]
num3=[]
for i in numbers:
    if i%2!=0:
        num3.append(i)
print(f"Odd number in the given list{num3}")

Odd number in the given list[45, 5, 15, 3, 345, 67, 87]

### Program 57 Write a Python program to Remove empty List from List.

In [98]:
list_of_lists = [[1, 2, 3], [], [4, 5], [], [6, 7, 8], []]
filtered_list = [i for i in list_of_lists if i]
filtered_list

[[1, 2, 3], [4, 5], [6, 7, 8]]

In [105]:
list_of_lists = [[1, 2, 3], [], [4, 5], [], [6, 7, 8], []]
for i in list_of_lists:
    print(i)

[1, 2, 3]
[]
[4, 5]
[]
[6, 7, 8]
[]

### Program 58 Write a Python program to Cloning or Copying a list.

In [108]:
original_list = [1, 2, 3, 4, 5]
col=[]
for i in original_list:
    col.append(i)
col

[1, 2, 3, 4, 5]

In [110]:
original_list = [1, 2, 3, 4, 5]
col1=original_list[:]
col1

[1, 2, 3, 4, 5]

In [112]:
original_list = [1, 2, 3, 4, 5]
col2=list(original_list)
col2

[1, 2, 3, 4, 5]

### Program 59 Write a Python program to Count occurrences of an element in a list.

In [124]:
my_list = [1, 2, 3, 4, 2, 5, 2, 3, 4, 6, 5]
my_list.count(2)

3

### Program 60 Write a Python program to find words which are greater than given length k

In [130]:
word_list = ["apple", "banana", "cherry", "date", "elderberry", "dragon"]
len_of_5=[]
for i in range(len(word_list)):
     if len(word_list[i])>5:
            len_of_5.append(word_list[i])
print(f"The given list find out which have lenth 5:{len_of_5}")

The given list find out which have lenth 5:['banana', 'cherry', 'elderberry', 'dragon']

### Program 61 Write a Python program for removing 7th character from a string.

In [155]:
string="hello wWorld"
s=string[:6]+string[7:]
s

'hello World'

### Program 62 Write a Python program to split and join a string.

In [156]:
input_str = "Python program to split and join a string"
input_str.split()

['Python', 'program', 'to', 'split', 'and', 'join', 'a', 'string']

### Program 63 Write a Python program to check if a given string is binary string or not.

In [187]:
input_str = "1001110"
flag=0
for i in input_str:
    if i !="0" and i !='1':
        flag=1
        break
if flag==0:
    print(" its binary")
else:
    print("Not binary bumber")

binary

### Program 64 Write a Python program to find uncommon words from two Strings

In [ ]:
string1 = "This is the first string"
string2 = "This is the second string"

In [204]:
string1 = "This is the first string".split()
string2 = "This is the second string".split()
for i,j in zip(string1,string2):
    if i!=j:
        print(i,j)

# for i in range(len(string1)):

first second

In [196]:
string1 = "This is the first string"
s=list(string1)
d=s
print(d,end="")

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'f', 'i', 'r', 's', 't', ' ', 's', 't', 'r', 'i', 'n', 'g']

### Program 65 Write a Python program to find all duplicate characters in string.

In [ ]:
s = input("enter any string")
c = 0
for i in s:
    if s[i] ==

In [10]:
# input_string = "piyush sharma"
# word=input_string.split()
# dict1={}
# for i in range(len(word)):
#     dict1[word[i]] = input_string.count(word[i])
# print(dict1)

{'piyush': 1, 'sharma': 1}

### Program 66 Write a Python Program to check if a string contains any special character.

### Program 67 Write a Python program to Extract Unique dictionary values.

In [20]:
dict1={"A":10,"B":20,"C":30,"D":40}
for i in dict1.values():
    dict1.add(i)
    print(i)

AttributeError: 'dict' object has no attribute 'add'

### Program 68 Write a Python program to find the sum of all items in a dictionary

In [24]:
dict1={"A":10,"B":20,"C":30,"D":40}
s=0
for i in dict1.values():
    s+=i
print(f"All values of dict to add:{s}")

All values of dict to add:100

### Program 69 Write a Python program to Merging two Dictionaries

In [25]:
dictA={"a":1,"b":2,"c":3}
dictB={"d":4,"e":5,"f":6}
dictA.update(dictB)

In [26]:
dictA

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [28]:
for i in dictA:
    print(i,)

a
b
c
d
e
f

### Program 70 Write a Python program to convert key-values list to flat dictionary.

In [31]:
name=["ram","ram1","ram2"]
age=[1,2,3]
na={}
for i,j in zip(name,age):

TypeError: unsupported operand type(s) for +: 'dict' and 'str'

### Program 71 Write a Python program to insertion at the beginning in OrderedDict

### Program 72 Write a Python program to check order of character in string using OrderedDict()

In [113]:
str1="hello hai"
str1.split()
# s=list(str1)
# s.split()

['hello', 'hai']

In [ ]:
from collections import OrderedDict
def check_order(string, reference):
 # Create OrderedDicts for both strings
 string_dict = OrderedDict.fromkeys(string)
 reference_dict = OrderedDict.fromkeys(reference)
 
 # Check if the OrderedDict for the string matches the OrderedDict f
 return string_dict == reference_dict
# Input strings
input_string = "hello world"
reference_string = "helo wrd"
# Check if the order of characters in input_string matches reference_st
if check_order(input_string, reference_string):
 print("The order of characters in the input string matches the refe
else:
 print("The order of characters in the input string does not match t

### Program 73 Write a Python program to sort Python Dictionaries by Key or Value.

In [49]:
sample_dict = {'apple': 3, 'banana': 1, 'cherry': 2, 'date': 4}
sample_dict.items()

dict_items([('apple', 3), ('banana', 1), ('cherry', 2), ('date', 4)])

In [51]:
sample_dict = {'apple': 3, 'banana': 1, 'cherry': 2, 'date': 4}
for i in sample_dict:
    print(i,sample_dict[i])

apple 3
banana 1
cherry 2
date 4

### Program 74 Write a program that calculates and prints the value according to the given formula:

In [ ]:
# Program 74
# Write a program that calculates and prints the value according to the given formula:
# Following are the fixed values of C and H:
# C is 50. H is 30.
# D is the variable whose values should be input to your program in a commaseparated sequence.
# Example
# Let us assume the following comma separated input sequence is given to the
# program:
# 100,150,180
# The output of the program should be:
# 18,22,24

### Program 75 Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array.

In [ ]:
Program 75
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional
array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [121]:
for i in range(1,5):
    for j in range(3):

0
1
2
0
1
2
0
1
2
0
1
2

In [58]:
import numpy as np

# Create a 3x5 array filled with 2s
x = np.full((3, 5), 2, dtype=np.uint)
print(x)

[[2 2 2 2 2]
 [2 2 2 2 2]
 [2 2 2 2 2]]

In [ ]:
Program 76
Write a program that accepts a comma separated sequence of words as input and
prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [99]:
# without,hello,bag,world
num=input("ente a sentecs sepret with (,)")
list1=num.split(",")
jump=sorted(list1)
d=str(jump)
f="".join(d)
f

ente a sentecs sepret with (,)without,hello,bag,world

"['bag', 'hello', 'without', 'world']"

### Program 79 Write a program that accepts a sentence and calculate the number of letters and
digits. Suppose the following input is supplied to the program:

In [115]:
num=input("enter a word: ")
chr_count=0
num_count=0
for i in num:
    if i.isdigit():
        num_count+=1
    elif i.isalpha():
        chr_count+=1
print("enter sentence all char of number",chr_count)
print("enter the all number:",num_count)

enter a word: vkj12
enter sentence all char of number 3
enter the all number: 2

In [ ]:
Program 80
A website requires the users to input username and password to register. Write a
program to check the validity of password input by users. Following are the criteria
for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will
check them according to the above criteria. Passwords that match the criteria are to
be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:

In [137]:
user_name=input("enter user name:")
password=input("entr your password")

enter user name:ss
entr your passwordaA

In [130]:
ord("Z")

90